# Игнорировать каталоги __pycache__ и их содержимое.
__pycache__/

# Игнорировать файлы с расширениями имён .pyc, .pyd, .pyo.
*.py[cdo]
# Игнорировать все файлы...
*

# ...кроме следующих файлов в любом каталоге,
!.editorconfig
!.gitattributes
!.gitignore

# ...кроме файлов Markdown в корневом каталоге,
!/*.md

# ...кроме файлов с расширением имени .py в каталоге src.
!src/
!src/**/
!src/**/*.py